/* imorting google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.iceCreamList{
    list-style-type: none;
    margin: 5px;
    padding: 5px 15px;
    background-color: #94C3F5;
    border: 1px solid rgb(151, 96, 28);
    border-radius: 15px;
}

.iceCreamListHeader{
    font-family: 'Roboto', sans-serif;
}

.iceCreamList > p{
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btnGrp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.selectBtn{
    background-color: #6126EC;
}

.clearBtn{
    background-color: #d11460;
}

.selectBtn:hover{
    background-color: #855ee2;
}

.clearBtn:hover{
    background-color: #be5780;
}

/* responsivse section  */
@media only screen and (max-width: 600px) {
    .iceCreamList{
        position: relative;
        left: -10%;
        width: 90%;
    }
}